body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  font-family: "Roboto" sans-serif;
}
#NavBar {
  background-color: rgb(170, 169, 169, 0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}
.typewritter {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: typing 3.5s steps(40), blink-caret 0.75s step-end infinite;
  animation-duration: 3.5s, 0.75s;
  animation-delay: 0s, 0s;
  animation-timing-function: steps(40), step-end;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
  animation-name: typing, blink-caret;
  border-right: 0.15em solid #0000;
  border-right-width: 0.15em;
  border-right-style: solid;
  border-right-color: rgb(0, 0, 0);
  letter-spacing: 0.1em;
  margin: 0 auto;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: tranparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

#ProjectContainer {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px white;
}

.progress-bar {
  width: 100px;
  height: 19px;
  border: 1px solid #020202;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(228, 228, 228);
  background-color: rgb(206, 206, 206, 0.5);
}
.percentage {
  display: block;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  animation: progress 1500ms ease-out 1;
  animation-duration: 3;
  font-size: 10px;
  color: #ffff;
}
.html {
  width: 90%;
}
.css {
  width: 90%;
}
.boot {
  width: 80%;
}
.js {
  width: 70%;
}
.react {
  width: 75%;
}
.github {
  width: 65%;
}
@keyframes progress {
  from {
    width: 0;
  }
}

.Contact_info {
  border-radius: 10px;
  background-color: rgb(206, 206, 206, 0.5);
}
.github {
  margin-left: 40px;
  padding-top: 20px;
  padding-left: 150px;
}
.email {
  font-family: initial;
  margin-right: 60px;
  margin-top: 20px;
}
.phone {
  margin-top: 15px;
  padding-top: 10px;
  margin-right: 190px;
  font-family: initial;
}
.location {
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 130px;
  margin-right: 60px;
  font-family: initial;
}
